server:
  port: 8081

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/djalmadioses/microservice-test.git
          searchPaths: config-data
          default-label: main
  security:
    user:
      name: root
      password: s3cr3t

